@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* light/dark mode start */
.darkmode{
    --primarycolor: black;
    --secondarycolor: white;
}
:root{
    --primarycolor: white;
    --secondarycolor: black;
}
/* light/dark mode ends */


/* over all starts */
*{
    box-sizing: border-box;
}
body{
    background-color: var(--primarycolor);
    color: var(--secondarycolor);
}
html{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif; 
}
a{
    text-decoration: none;
}
/* over all ends */

/* navigation bar starts */
#navigation{
    margin: 0;
    padding: 0;
    background-color: var(--primarycolor);
    height: 50px;
    display: flex;
    justify-content: space-between;
}
#navigation .mobiletools{
    margin: 0;
    display: flex;
}
#navigation .mode{
    margin: auto 20px;
}
#hamburger{
    display: block;
    cursor: pointer;
}
#hamburger #bar{
    width: 35px;
    height: 3px;
    background-color: var(--secondarycolor);
    margin: 6px 0px;
    transition: 0.4s;
}
.open .bar1{
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}
.open .bar2{
    opacity: 0;
}
.open .bar3{
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}
.open .menu{
    animation: menuopen 0.4s ease;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: visible;
}
.menu{
    z-index: 2;
    font-size: 1.1rem;
    position: absolute;
    top: 50px;
    right: 0px;
    width: auto;
    height: auto;
    visibility: hidden;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#hamburger .menu li a{
    color: orange;
}
@keyframes menuopen{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}
#navigation .tools{
    display: none;
}
.logo{
    width: 100px;
    transition: 0.3s;
}
#navigation a{
    margin: 0;
}
.logo:hover{
    transform: scale(1.1);
}
/* navigation bar ends */

/* root contailers starts */
#root .container{
    margin: auto;
}
#services .container{
    min-height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0px;
}
#cp .container{
    min-height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0px;
}
#projects{
    min-height: 100vh;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#projects span{
    color: orange;
}
/* root contailers ends */

/*cv download button starts */
#root #cvd{
    display: inline-block;
    padding: 6px 20px;
    color: orange;
    background-color: transparent;
    border: 2px solid orange;
    font-size: 0.7rem;
    text-transform: uppercase;
    margin-top: 5px;
    transition: .3s ease; 
    transition-property: background-color, color;
}
#root #cvd:hover{
    color: white;
    background-color: orange;
}
/*cv download button ends */

/* name starts */
#root #name{
    position: absolute;
    top: 150px;
    right: 20%
}
/* name ends */

/* image starts */
#image{
    left: 0;
    width: auto;
    height: 66%;
    bottom: 30px;
}
#image img{
    height: 100%;
    position: absolute;
    align-items: end;
    bottom: 0;
    transform: translate(-50%);
    transition: bottom 1s, left 1s;
}
#image:hover #luffy{
    left: 45%;
}
#image:hover #shape{
    bottom: 5%;
}
/* image ends */

/* service top starts */
#services .service-top h1{
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-align: center;
}
#services .service-top span{
    color: orange;
}
#services .service-top p{
    font-weight: 100;
    margin-top: 5px;
    line-height: 2rem;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    text-align: center;
}
/* service top ends */

/* service bottom starts */
#services .service-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#services .items{
    color: wheat;
}
#services .items{
    position: relative;
    flex-basis: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius:5px;
    background-image: url(./image/services/services_bg.jpg);
    background-size: cover;
    margin: 10px 5px;
    z-index: 1;
}
#services .items::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: -1;
}
#services .items:hover #icon{
    opacity: 0.5;
}
/* service bottom ends */

/* cp top starts */
#cp .cp-top h1{
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-align: center;
}
#cp .cp-top span{
    color: orange;
}
#cp .cp-top p{
    font-weight: 100;
    margin-top: 5px;
    line-height: 2rem;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    text-align: center;
}
/* cp top ends */

/* cp bottom starts */
#cp .cp-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#cp .items{
    color: wheat;
}
#cp .items{
    position: relative;
    flex-basis: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius:5px;
    background-image: url(./image/cp/bg.jpg);
    background-size: cover;
    margin: 10px 5px;
    z-index: 1;
}
#cp .items::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0;
    z-index: -1;
}
#cp .items:hover #icon{
    opacity: 0.5;
}
/* cp bottom ends */

/* credits starts */
#credits{
    position: relative;
    top: 10px;
    flex-basis: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
/* credits ends */