@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* over all starts */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif; 
}
a{
    text-decoration: none;
}
/* over all ends */

/* navigation bar starts */
#navigation{
    position: relative;
    width: 100%;
    height: 7vh;
    background: white;
}
#navigation #links {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
#navigation .logo{
    width: 100px;
    transition: 0.3s;
}
#navigation ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
#navigation ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
#navigation li a:hover{
    color: orange;
}
#navigation .logo:hover{
    transform: scale(1.1);
}
/* navigation bar ends */

/* root contailers starts */
#root .container{
    margin-left: 34%;
    margin-top: 25%;
}
#services .container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
#cp .container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
#projects{
    min-height: 100vh;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#projects span{
    color: orange;
}
/* root contailers ends */

/*cv download button starts */
#root #cvd{
    display: inline-block;
    padding: 6px 20px;
    color: orange;
    background-color: transparent;
    border: 2px solid orange;
    font-size: 0.7rem;
    text-transform: uppercase;
    margin-top: 5px;
    transition: .3s ease; 
    transition-property: background-color, color;
}
#root #cvd:hover{
    color: white;
    background-color: orange;
}
/*cv download button ends */

/* name starts */
#root #name{
    position: absolute;
}
/* name ends */

/* image starts */
#image{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
#image img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    transition: bottom 1s, left 1s;
}
#image:hover #luffy{
    left: 45%;
}
#image:hover #shape{
    bottom: 5%;
}
/* image ends */

/* service top starts */
#services .service-top h1{
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-align: center;
}
#services .service-top span{
    color: orange;
}
#services .service-top p{
    font-weight: 300;
    margin-top: 5px;
    line-height: 2.5rem;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
}
/* service top ends */

/* cp bottom starts */
#services .service-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#services .items{
    color: wheat;
}
#services .items{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius:5px;
    background-image: url(./image/services/services_bg.jpg);
    background-size: cover;
    margin: 10px 5px;
    z-index: 1;
}
#services .items::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: -1;
}
#services .items:hover #icon{
    opacity: 0.5;
}
/* service bottom ends */

/* service top starts */
#cp .cp-top h1{
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-align: center;
}
#cp .cp-top span{
    color: orange;
}
#cp .cp-top p{
    font-weight: 300;
    margin-top: 5px;
    line-height: 2.5rem;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
}
/* cp top ends */

/* cp bottom starts */
#cp .cp-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#cp .items{
    color: wheat;
}
#cp .items{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius:5px;
    background-image: url(./image/cp/bg.jpg);
    background-size: cover;
    margin: 10px 5px;
    z-index: 1;
}
#cp .items::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0;
    z-index: -1;
}
#cp .items:hover #icon{
    opacity: 0.5;
}
/* cp bottom ends */

/* credits starts */
#credits{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
/* credits ends */